<div class="header">
  <h2 class="title" appHighlight appDefaultColor="green" [appTooltip]="tooltip">
    Flight Search
  </h2>
</div>

<ng-template #tooltip>
  <div>
    <p>Search for flights</p>
  </div>
</ng-template>

<form #form="ngForm" *appUserRole="'user'">
  <div class="form-group">
    <label>From:</label>
    <input
      class="form-control"
      [(ngModel)]="from"
      name="from"
      required
      minlength="3"
    />
  </div>

  <div>
    <pre>Errors: {{ form?.controls?.["from"]?.errors | json }}</pre>
  </div>

  <div class="form-group">
    <label>To:</label>
    <input
      class="form-control"
      [(ngModel)]="to"
      name="to"
      required
      minlength="3"
    />
  </div>

  <div class="form-group">
    <button
      class="btn btn-default"
      [disabled]="form.invalid"
      (click)="search()"
    >
      Search
    </button>
  </div>

  <div>
    <pre>{{ form.value | json }}</pre>
  </div>
</form>

<app-flight-card
  *ngFor="let flight of flights | slice : 0 : 1"
  [flight]="flight"
  [(selected)]="basket[flight.id]"
/>

<div>
  <h2>Basket:</h2>
  <pre>{{ basket | json }}</pre>
</div>

<div *ngIf="selectFlight">
  <pre>{{ selectedFlight | json }}</pre>
</div>

<div *ngIf="selectedFlight">
  <div>
    {{ message }}
  </div>

  <div class="form-group">
    <label>Id</label>
    <input class="form-control" [(ngModel)]="selectedFlight.id" name="id" />
  </div>

  <div class="form-group">
    <label>From</label>
    <input class="form-control" [(ngModel)]="selectedFlight.from" name="from" />
  </div>

  <div class="form-group">
    <label>To</label>
    <input class="form-control" [(ngModel)]="selectedFlight.to" name="to" />
  </div>

  <div class="form-group">
    <button class="btn btn-default" (click)="save()">Save</button>
  </div>
</div>
