<div
  class="card"
  [ngStyle]="{
    'background-color': selected ? 'red' : null
  }"
>
  <div class="card-header">
    <h4 class="card-title">
      {{ item.from | city: "short" }}
      -
      {{ item.to | city: "short" }}
    </h4>
  </div>
  <div class="card-content">
    <div class="card-body">
      <p class="card-text">
        <strong>Date:</strong>
        {{ item.date | date }}
      </p>
      <p class="card-text">
        <strong>Delayed:</strong>
        {{ item.delayed ? "Yes" : "No" }}
      </p>
    </div>
    <div class="card-footer">
      <button button class="btn btn-default" (click)="toggleSelect()">
        {{ selected ? "Unselect" : "Select" }}
      </button>
    </div>
  </div>
</div>

<!-- <app-card [selected]="selected" (click)="openEditPage()">
  <app-card-title>
    {{ item.from | city : "short" }} - {{ item.to | city : "short" }}
  </app-card-title>
  <app-card-content>
    <div class="card-body">
      <p class="card-text"><strong>Date:</strong> {{ item.date | date }}</p>
      <p class="card-text">
        <strong>Delayed:</strong> {{ item.delayed ? "Yes" : "No" }}
      </p>
    </div>
  </app-card-content>
  <app-card-footer>
    <button class="btn btn-default" (click)="toggleSelect()">
      {{ selected ? "Unselect" : "Select" }}
    </button>
  </app-card-footer>
</app-card> -->

<!-- <div style="color: red">
  <ng-content select="#header" />
</div>
<ng-content select=".footer" /> -->
{{ blink() }}
